<div class="m-5">
  <div class="row">
    <div class="col">
	  <div class="row">
        <div class="col-4">
          <form action=<%= new_thing_path %>>
            <button type="submit" class="btn btn-primary">New Thing</button>
          </form>
 		</div>
        <div class="col">
		  <h1>Things</h1>
 		</div>
	  </div>

      <% @categories.each do |ct| %>
        <div class="row">
          <div class="col">
            <%= ct.name %>
          </div>
          <div class="col">
          <% ct.things.each do |thing| %>
            <div class="row">
              <%= link_to thing.name, thing %>
            </div>
          <% end %>
          </div>
        </div>
      </tr>
      <% end %>
      </div>
<div class="col-1"></div>
</div>
</div>